@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/assets/uwp2279166.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.center-div{
    padding-top:15rem;
    
}

.btn.btn-success{
    padding: .4em 2em;
    margin-top: 1.5rem;
    
}

form{
    padding: 0em 3em;
}

#login .title > span{
    font-size:.8em
}